<template>
  <div
    id="game-page"
    class="page"
    :class="{
      daytime: turn === 'day',
      nighttime: turn === 'night',
    }"
  >
    <div id="bgd-main">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0"
        y="0"
        viewBox="0 0 535.47 517.47"
      >
        <g id="background">
          <g id="night">
            <circle fill="#F0FFEB" cx="392.83" cy="315.64" r="2.39" />
            <circle fill="#F0FFEB" cx="437.27" cy="358.44" r="2.39" />
            <circle fill="#F0FFEB" cx="194.7" cy="394.65" r="2.4" />
            <circle fill="#F0FFEB" cx="187.74" cy="290.95" r="2.4" />
            <circle fill="#F0FFEB" cx="384.07" cy="415.9" r="2.4" />
            <circle fill="#F0FFEB" cx="338.51" cy="357.32" r="2.4" />
            <circle fill="#F0FFEB" cx="268.33" cy="453.09" r="2.4" />
            <circle fill="#F0FFEB" cx="338.81" cy="459.67" r="2.4" />
            <circle fill="#F0FFEB" cx="252.61" cy="332.78" r="2.4" />
            <circle fill="#F0FFEB" cx="166.23" cy="434.4" r="2.4" />
            <circle fill="#F0FFEB" cx="96.23" cy="363.23" r="2.4" />
            <circle fill="#F0FFEB" cx="190.14" cy="347.06" r="2.4" />
            <circle fill="#F0FFEB" cx="307.23" cy="292.22" r="2.39" />
            <circle fill="#F0FFEB" cx="115.56" cy="313.73" r="2.39" />
          </g>
          <g id="day">
            <ellipse
              fill="#F0FFEB"
              cx="129.16"
              cy="121.11"
              rx="23.05"
              ry="15.26"
            />
            <ellipse
              fill="#F0FFEB"
              cx="163.58"
              cy="107.04"
              rx="27.53"
              ry="14.97"
            />
            <ellipse
              fill="#F0FFEB"
              cx="175.25"
              cy="131.88"
              rx="39.81"
              ry="17.66"
            />
            <ellipse
              fill="#F0FFEB"
              cx="266.53"
              cy="73.99"
              rx="55.37"
              ry="16.46"
            />
            <ellipse
              fill="#F0FFEB"
              cx="319.5"
              cy="91.05"
              rx="43.1"
              ry="12.57"
            />
            <ellipse fill="#F0FFEB" cx="321" cy="71.29" rx="32.02" ry="14.37" />
            <ellipse
              fill="#F0FFEB"
              cx="395.82"
              cy="105.24"
              rx="15.26"
              ry="6.58"
            />
            <ellipse
              fill="#F0FFEB"
              cx="373.08"
              cy="124.7"
              rx="12.27"
              ry="3.89"
            />
          </g>
        </g>
        <g id="mountains_1_">
          <g id="mountains">
            <path
              fill="#167C50"
              d="M168.67 179.33h106.99c0 0-32.85-78.06-53.56-78.06C202.04 101.27 168.67 179.33 168.67 179.33z"
            />
            <path
              fill="#1C934C"
              d="M168.69 179.33h53.43v-78.06C202.06 101.27 168.69 179.33 168.69 179.33z"
            />
            <path
              fill="#F0FFEB"
              d="M194.41 142.21c2.94 0 5.34-1.79 5.55-4.06 0.21 2.27 2.61 4.06 5.55 4.06 2.94 0 5.34-1.79 5.55-4.06 0.21 2.27 2.61 4.06 5.55 4.06 3.08 0 5.57-1.96 5.57-4.39 0-0.01 0-0.03 0-0.04h0.07c0 0.02 0 0.03 0 0.04 0 2.42 2.49 4.39 5.57 4.39 2.94 0 5.34-1.79 5.55-4.06 0.21 2.27 2.61 4.06 5.55 4.06 2.94 0 5.34-1.79 5.55-4.06 0.22 2.27 2.62 4.06 5.55 4.06 3.08 0 5.57-1.96 5.57-4.39 0-0.01 0-0.03 0-0.04h0.06c-10.69-18.86-23.52-36.87-33.55-36.87 -9.72 0-22.52 18.03-33.26 36.91C188.85 140.25 191.34 142.21 194.41 142.21z"
            />
            <path
              fill="#C5D1C3"
              d="M244.47 138.16c0.22 2.27 2.62 4.06 5.55 4.06 3.08 0 5.57-1.96 5.57-4.39 0-0.01 0-0.03 0-0.04h0.06c-10.63-18.77-23.39-36.67-33.4-36.86v36.86h0c0 0.02 0 0.03 0 0.04 0 2.42 2.5 4.39 5.57 4.39 2.94 0 5.34-1.79 5.55-4.06 0.22 2.27 2.62 4.06 5.55 4.06C241.86 142.21 244.26 140.42 244.47 138.16z"
            />
            <path
              fill="#167C50"
              d="M262.04 179.33h106.99c0 0-32.85-78.06-53.56-78.06C295.41 101.27 262.04 179.33 262.04 179.33z"
            />
            <path
              fill="#1C934C"
              d="M262.06 179.33h53.43v-78.06C295.43 101.27 262.06 179.33 262.06 179.33z"
            />
            <path
              fill="#F0FFEB"
              d="M287.79 142.21c2.94 0 5.34-1.79 5.55-4.06 0.22 2.27 2.61 4.06 5.55 4.06 2.94 0 5.34-1.79 5.55-4.06 0.21 2.27 2.61 4.06 5.55 4.06 3.08 0 5.57-1.96 5.57-4.39 0-0.01 0-0.03 0-0.04h0.07c0 0.02 0 0.03 0 0.04 0 2.42 2.49 4.39 5.57 4.39 2.94 0 5.34-1.79 5.55-4.06 0.21 2.27 2.61 4.06 5.55 4.06s5.34-1.79 5.55-4.06c0.21 2.27 2.61 4.06 5.55 4.06 3.08 0 5.57-1.96 5.57-4.39 0-0.01 0-0.03 0-0.04h0.06c-10.69-18.86-23.52-36.87-33.55-36.87 -9.72 0-22.52 18.03-33.25 36.91C282.22 140.25 284.71 142.21 287.79 142.21z"
            />
            <path
              fill="#C5D1C3"
              d="M337.85 138.16c0.22 2.27 2.61 4.06 5.55 4.06 3.08 0 5.57-1.96 5.57-4.39 0-0.01 0-0.03 0-0.04h0.06c-10.63-18.77-23.39-36.67-33.4-36.86v36.86h0c0 0.02 0 0.03 0 0.04 0 2.42 2.49 4.39 5.57 4.39 2.94 0 5.34-1.79 5.55-4.06 0.22 2.27 2.61 4.06 5.55 4.06C335.23 142.21 337.63 140.42 337.85 138.16z"
            />
            <path
              fill="#167C50"
              d="M53.42 260.39h131.83c0 0-40.47-96.18-65.99-96.18C94.54 164.21 53.42 260.39 53.42 260.39z"
            />
            <path
              fill="#1C934C"
              d="M53.45 260.39h65.83v-96.18C94.56 164.21 53.45 260.39 53.45 260.39z"
            />
            <path
              fill="#F0FFEB"
              d="M85.14 214.66c3.62 0 6.57-2.2 6.84-5 0.26 2.8 3.22 5 6.84 5 3.62 0 6.58-2.2 6.84-5 0.26 2.8 3.22 5 6.84 5 3.79 0 6.87-2.42 6.87-5.4 0-0.02 0-0.04 0-0.05h0.09c0 0.02 0 0.04 0 0.05 0 2.99 3.07 5.41 6.87 5.41 3.62 0 6.57-2.2 6.84-5 0.26 2.8 3.22 5 6.84 5s6.57-2.2 6.84-5c0.26 2.8 3.22 5 6.84 5 3.79 0 6.87-2.42 6.87-5.4 0-0.02 0-0.04 0-0.05h0.07c-13.17-23.24-28.98-45.42-41.34-45.42 -11.98 0-27.75 22.22-40.97 45.48C78.28 212.24 81.35 214.66 85.14 214.66z"
            />
            <path
              fill="#C5D1C3"
              d="M146.82 209.66c0.26 2.8 3.22 5 6.84 5 3.79 0 6.87-2.42 6.87-5.4 0-0.02 0-0.04 0-0.05h0.07c-13.1-23.12-28.81-45.19-41.15-45.41v45.41h0c0 0.02 0 0.04 0 0.05 0 2.99 3.07 5.41 6.87 5.41 3.62 0 6.58-2.2 6.84-5 0.26 2.8 3.22 5 6.84 5S146.56 212.46 146.82 209.66z"
            />
            <path
              fill="#167C50"
              d="M360.94 260.4h131.83c0 0-40.47-96.19-65.99-96.19C402.06 164.22 360.94 260.4 360.94 260.4z"
            />
            <path
              fill="#1C934C"
              d="M360.8 260.39h65.83v-95.89C401.91 164.49 360.8 260.39 360.8 260.39z"
            />
            <path
              fill="#F0FFEB"
              d="M392.67 214.67c3.62 0 6.57-2.2 6.84-5 0.26 2.8 3.22 5 6.84 5 3.62 0 6.58-2.2 6.84-5 0.27 2.8 3.22 5 6.84 5 3.79 0 6.86-2.42 6.86-5.4 0-0.02 0-0.04 0-0.05h0.09c0 0.02 0 0.04 0 0.05 0 2.99 3.07 5.41 6.87 5.41 3.62 0 6.57-2.2 6.84-5 0.26 2.8 3.22 5 6.84 5s6.57-2.2 6.84-5c0.27 2.8 3.22 5 6.84 5 3.79 0 6.86-2.42 6.86-5.4 0-0.02 0-0.04 0-0.05h0.07c-13.17-23.24-28.98-45.42-41.34-45.42 -11.98 0-27.75 22.22-40.97 45.48C385.81 212.25 388.88 214.67 392.67 214.67z"
            />
            <path
              fill="#C5D1C3"
              d="M454.34 209.67c0.27 2.8 3.22 5 6.84 5 3.79 0 6.86-2.42 6.86-5.4 0-0.02 0-0.04 0-0.05h0.07c-13.1-23.12-28.81-45.19-41.15-45.41v45.41h0c0 0.02 0 0.04 0 0.05 0 2.99 3.07 5.41 6.87 5.41 3.62 0 6.57-2.2 6.84-5 0.26 2.8 3.22 5 6.84 5C451.12 214.67 454.08 212.47 454.34 209.67z"
            />
            <path
              fill="#167C50"
              d="M201.22 226.92h138.84c0 0-42.62-101.3-69.5-101.3C244.53 125.61 201.22 226.92 201.22 226.92z"
            />
            <path
              fill="#1C934C"
              d="M201.25 226.92h69.34V125.61C244.56 125.61 201.25 226.92 201.25 226.92z"
            />
            <path
              fill="#F0FFEB"
              d="M234.64 178.75c3.81 0 6.92-2.32 7.2-5.27 0.28 2.94 3.39 5.27 7.2 5.27 3.81 0 6.92-2.32 7.2-5.27 0.28 2.94 3.39 5.27 7.2 5.27 3.99 0 7.23-2.55 7.23-5.69 0-0.02 0-0.04 0-0.06h0.09c0 0.02 0 0.04 0 0.06 0 3.14 3.24 5.69 7.23 5.69 3.81 0 6.92-2.32 7.2-5.27 0.28 2.94 3.39 5.27 7.2 5.27 3.81 0 6.92-2.32 7.2-5.27 0.28 2.94 3.39 5.27 7.2 5.27 3.99 0 7.23-2.55 7.23-5.69 0-0.02 0-0.04 0-0.06h0.07c-13.87-24.48-30.52-47.84-43.54-47.84 -12.62 0-29.22 23.4-43.15 47.9C227.41 176.2 230.65 178.75 234.64 178.75z"
            />
            <path
              fill="#C5D1C3"
              d="M299.6 173.48c0.28 2.94 3.39 5.27 7.2 5.27 3.99 0 7.23-2.55 7.23-5.69 0-0.02 0-0.04 0-0.06h0.07c-13.8-24.35-30.35-47.59-43.34-47.83V173h0c0 0.02 0 0.04 0 0.06 0 3.14 3.24 5.69 7.23 5.69 3.81 0 6.92-2.32 7.2-5.27 0.28 2.94 3.39 5.27 7.2 5.27C296.2 178.75 299.32 176.43 299.6 173.48z"
            />
            <path
              fill="#167C50"
              d="M126.43 260.35h159.26c0 0-48.89-116.2-79.73-116.2C176.11 144.15 126.43 260.35 126.43 260.35z"
            />
            <path
              fill="#1C934C"
              d="M126.47 260.35h79.53V144.15C176.14 144.15 126.47 260.35 126.47 260.35z"
            />
            <path
              fill="#F0FFEB"
              d="M164.76 205.1c4.37 0 7.94-2.66 8.26-6.04 0.32 3.38 3.89 6.04 8.26 6.04s7.94-2.66 8.26-6.04c0.32 3.38 3.89 6.04 8.26 6.04 4.58 0 8.29-2.92 8.29-6.53 0-0.02 0-0.04 0-0.07h0.11c0 0.02 0 0.04 0 0.07 0 3.61 3.71 6.53 8.29 6.53 4.37 0 7.94-2.66 8.26-6.04 0.32 3.38 3.89 6.04 8.26 6.04s7.94-2.66 8.26-6.04c0.32 3.38 3.89 6.04 8.26 6.04 4.58 0 8.29-2.92 8.29-6.53 0-0.02 0-0.04 0-0.07h0.08c-15.91-28.08-35.01-54.88-49.94-54.88 -14.47 0-33.52 26.85-49.5 54.95C156.47 202.18 160.18 205.1 164.76 205.1z"
            />
            <path
              fill="#C5D1C3"
              d="M239.27 199.06c0.32 3.38 3.89 6.04 8.26 6.04 4.58 0 8.29-2.92 8.29-6.53 0-0.02 0-0.04 0-0.07h0.08c-15.83-27.93-34.81-54.59-49.71-54.86v54.86h0c0 0.02 0 0.04 0 0.07 0 3.61 3.71 6.53 8.29 6.53 4.37 0 7.94-2.66 8.26-6.04 0.32 3.38 3.89 6.04 8.26 6.04S238.95 202.44 239.27 199.06z"
            />
            <path
              fill="#167C50"
              d="M256.27 260.39h159.26c0 0-48.89-116.2-79.73-116.2C305.95 144.19 256.27 260.39 256.27 260.39z"
            />
            <path
              fill="#1C934C"
              d="M256.3 260.39h79.53V144.19C305.98 144.19 256.3 260.39 256.3 260.39z"
            />
            <path
              fill="#F0FFEB"
              d="M294.6 205.15c4.37 0 7.94-2.66 8.26-6.04 0.32 3.38 3.89 6.04 8.26 6.04s7.94-2.66 8.26-6.04c0.32 3.38 3.89 6.04 8.26 6.04 4.58 0 8.29-2.92 8.29-6.53 0-0.02 0-0.04 0-0.07h0.11c0 0.02 0 0.04 0 0.07 0 3.61 3.71 6.53 8.29 6.53 4.37 0 7.94-2.66 8.26-6.04 0.32 3.38 3.89 6.04 8.26 6.04s7.94-2.66 8.26-6.04c0.32 3.38 3.89 6.04 8.26 6.04 4.58 0 8.29-2.92 8.29-6.53 0-0.02 0-0.04 0-0.07h0.08c-15.91-28.08-35.01-54.88-49.94-54.88 -14.47 0-33.52 26.85-49.5 54.95C286.31 202.22 290.02 205.15 294.6 205.15z"
            />
            <path
              fill="#C5D1C3"
              d="M369.11 199.11c0.32 3.38 3.89 6.04 8.26 6.04 4.58 0 8.29-2.92 8.29-6.53 0-0.02 0-0.04 0-0.07h0.08c-15.83-27.93-34.81-54.59-49.71-54.86v54.86h0.01c0 0.02 0 0.04 0 0.07 0 3.61 3.71 6.53 8.29 6.53 4.37 0 7.94-2.66 8.26-6.04 0.32 3.38 3.89 6.04 8.26 6.04S368.79 202.48 369.11 199.11z"
            />
          </g>
        </g>
        <g id="ground_1_">
          <defs>
            <path
              id="SVGID_1_"
              d="M20.16 260.48c0.02 137.95 111.85 249.78 249.81 249.78 137.96 0 249.79-111.83 249.81-249.78H20.16z"
            />
          </defs>
          <clipPath id="SVGID_2_">
            <use xlink:href="#SVGID_1_" overflow="visible" />
          </clipPath>
          <g clip-path="url(#SVGID_2_)">
            <rect
              x="-16.89"
              y="123.74"
              fill="#51351F"
              width="584.99"
              height="400.15"
            />
          </g>
        </g>
        <g id="home">
          <path
            fill="#BF465B"
            d="M138.59 261.9l-34.97-1.45v-17.01c0 0 29.79 0.15 34.97-0.31V261.9z"
          />
          <path
            fill="#FFFFFF"
            d="M99.13 239.42c4.26-5.01 13.47-15.94 16.3-19.96 3.73-5.28 5.91-8.08 5.91-8.08s34.81-6.53 37.61-5.91c2.8 0.62 25.02 31.24 27.82 33.42 2.8 2.18-6.4 3.53-7.77 3.73s-40.41 0.78-40.41 0.78l-34.97 0.31 -3.4-0.87C98.7 242.45 98.12 240.62 99.13 239.42z"
          />
          <path
            fill="#DEEBF9"
            d="M187.28 239.84c0 0 0 0 0 0 -1.1 0.13-2.51-0.33-3.5-0.74 -0.85-0.35-1.59-0.89-2.18-1.6 -4.44-5.36-20.82-28.69-21.33-28.75 -0.56-0.07-1.32 2.97-1.32 2.97l2.3 9.56c0 0 11.04 16.77 14.04 21.47 2.1-0.05 3.47-0.1 3.7-0.13C180.16 242.45 186.91 241.46 187.28 239.84z"
          />
          <path
            fill="#AA3952"
            d="M180.08 260.52l-1.09-20.28c0 0-16.63-23.24-20.05-28.52 0 0-12.12 24.56-20.36 31.4v18.78C138.59 261.9 180.47 260.14 180.08 260.52z"
          />
          <path
            fill="#6F6659"
            d="M154.94 261.24c0 0 0-9.18 0-11.84 0-2.66 1.52-6.23 5.39-6.23 3.88 0 5.17 3.42 5.17 5.47 0 2.05-0.06 12.21-0.06 12.21L154.94 261.24z"
          />
          <path
            fill="#BBB299"
            d="M163.61 245.53c-0.47-1.38-1.78-2.35-3.24-2.36 -0.01 0-0.02 0-0.03 0 -3.87 0-5.39 3.57-5.39 6.23 0 2.66 0 11.59 0 11.59l9.12-0.95c0-2.37 0-9.88 0-11.79C164.07 247.45 163.93 246.47 163.61 245.53z"
          />
          <path
            fill="#9B2847"
            d="M144.45 242.72l6.38-0.22 -0.48 10.64 -6.38 0.22C144.12 253.12 144.45 242.72 144.45 242.72z"
          />
          <path
            class="window"
            fill="#F3D681"
            d="M144.45 242.71l5.6-0.19 -0.43 9.62 -5.55 0.19C144.23 249.91 144.45 242.71 144.45 242.71z"
          />
          <path
            fill="#AA3952"
            d="M146.72 247.38l0.1-4.75 0.85-0.03 -0.1 4.74c0.8-0.04 1.59-0.1 2.27-0.18l-0.04 0.86c-0.69 0.08-1.48 0.14-2.25 0.18l-0.09 4.02 -0.85 0.03 0.09-4.01c-1.02 0.04-1.93 0.05-2.45 0.05 0.01-0.28 0.02-0.56 0.03-0.85C144.81 247.42 145.72 247.41 146.72 247.38z"
          />
          <path
            fill="#FFFFFF"
            d="M143.51 240.28l8.08-0.28c0.18-0.01 0.33 0.14 0.32 0.32l-0.08 1.85c-0.01 0.16-0.14 0.29-0.3 0.3l-1 0.02c0 0-5.35 0.27-5.55 0.19l-1.34 0.09c-0.17 0.01-0.32-0.12-0.33-0.29l-0.08-1.86C143.2 240.43 143.34 240.29 143.51 240.28z"
          />
          <path
            fill="#DEEBF9"
            d="M120.51 212.46c-0.95 1.26-2.7 3.62-5.08 7 -2.84 4.02-12.04 14.94-16.3 19.96 -0.33 0.39-0.49 0.84-0.5 1.29l0 0c0.66 0.36 11.85 0.29 11.85 0.29s26.41-0.99 27.11-1.55c0 0 8.45-9.54 20.81-32.99L120.51 212.46z"
          />
          <path
            fill="#A6C0E6"
            d="M138.59 243.4v-0.28l-1-3.66c0 0-35.07 0.56-37.46 0.85 -0.67 0.08-1.15 0.23-1.5 0.42 -0.03 0.94 0.57 1.86 1.59 2.13l3.4 0.87L138.59 243.4z"
          />
          <ellipse fill="#6F6659" cx="162.49" cy="254.57" rx="0.56" ry="0.64" />
          <ellipse fill="#E0D7C5" cx="162.69" cy="254.57" rx="0.56" ry="0.64" />
          <path
            fill="#BF465B"
            d="M158.18 215.65c0 0 8.31 10.7 12.4 17.04 3.45 5.36 7.41 9.01 8.55 10.01l-0.13-2.45c0 0-16.63-23.24-20.05-28.52 0 0-12.12 24.56-20.36 31.4C149.27 236.64 158.18 215.65 158.18 215.65z"
          />
          <path
            fill="#9B2847"
            d="M168.8 241.65l6.37-0.5v10.65l-6.37 0.51C168.95 252.06 168.8 241.65 168.8 241.65z"
          />
          <path
            class="window"
            fill="#F3D681"
            d="M168.8 241.64l5.58-0.44v9.63l-5.54 0.44C168.9 248.85 168.8 241.64 168.8 241.64z"
          />
          <path
            fill="#AA3952"
            d="M171.28 246.2l-0.11-4.75 0.84-0.07 0.11 4.74c0.79-0.08 1.59-0.17 2.26-0.29v0.86c-0.69 0.11-1.47 0.2-2.24 0.28l0.1 4.02 -0.84 0.07 -0.1-4.01c-1.02 0.08-1.93 0.14-2.44 0.16 0-0.28 0-0.56-0.01-0.85C169.37 246.34 170.28 246.29 171.28 246.2z"
          />
          <path
            fill="#FFFFFF"
            d="M167.75 239.26l8.06-0.65c0.18-0.01 0.33 0.13 0.33 0.31v1.86c0 0.16-0.13 0.3-0.29 0.31l-0.99 0.06c0 0-5.33 0.51-5.54 0.44l-1.34 0.15c-0.17 0.02-0.33-0.11-0.34-0.28l-0.17-1.86C167.45 239.42 167.58 239.27 167.75 239.26z"
          />
          <path
            fill="#DEEBF9"
            d="M173.74 240.16c-2.38 0.21-4.49 0.37-5.39 0.37 -0.29 0-0.57-0.08-0.82-0.17l0.1 1.1c0.02 0.17 0.17 0.3 0.34 0.28l1.34-0.15c0.21 0.07 5.54-0.44 5.54-0.44l0.99-0.06c0.16-0.01 0.29-0.14 0.29-0.31v-1.18C175.76 239.8 175.05 240.04 173.74 240.16z"
          />
          <path
            fill="#DEEBF9"
            d="M151.52 242.47c0.16 0 0.3-0.13 0.3-0.29l0.06-1.19c-0.78 0.21-2.35 0.51-4.89 0.51 -1.94 0-3.08-0.12-3.74-0.25l0.06 1.22c0.01 0.17 0.16 0.31 0.33 0.29l1.34-0.09c0.21 0.08 5.56-0.19 5.56-0.19L151.52 242.47z"
          />
          <polygon
            fill="#AA3952"
            points="123.02 248.89 123.08 257.2 130.09 257.97 129.79 248.83 "
          />
          <polygon
            class="window"
            fill="#F3D681"
            points="123.88 256.24 123.83 248.88 129.79 248.83 130.05 256.9 "
          />
          <path
            fill="#BF465B"
            d="M123.85 252.75c0.74 0.08 1.52 0.15 2.29 0.2 0.03-1.67 0.08-3.32 0.11-4.09l0.75-0.01c-0.03 0.75-0.08 2.44-0.11 4.14 1.33 0.07 2.49 0.1 3.03 0.11l0.02 0.75c-0.53-0.01-1.71-0.04-3.07-0.11 -0.01 1.08-0.01 2.1 0.01 2.82l-0.76-0.08c-0.02-0.74-0.02-1.74-0.01-2.78 -0.76-0.05-1.54-0.11-2.27-0.19L123.85 252.75z"
          />
          <path
            fill="#FFFFFF"
            d="M122.4 246.88l7.95-0.31c0.16-0.01 0.3 0.14 0.3 0.32v1.59c0 0.18-0.12 0.32-0.28 0.32l-0.58 0.02 -6.86 0.07h-0.02l-0.48 0c-0.15 0-0.28-0.14-0.29-0.32l-0.02-1.36C122.12 247.03 122.25 246.88 122.4 246.88z"
          />
          <polygon
            fill="#AA3952"
            points="108.73 248.75 108.78 255.71 114.65 256.35 114.4 248.7 "
          />
          <polygon
            class="window"
            fill="#F3D681"
            points="109.45 254.9 109.41 248.75 114.4 248.7 114.62 255.46 "
          />
          <path
            fill="#BF465B"
            d="M109.43 251.99c0.62 0.07 1.27 0.12 1.92 0.16 0.03-1.4 0.07-2.78 0.09-3.42l0.63-0.01c-0.02 0.63-0.07 2.04-0.09 3.46 1.11 0.06 2.08 0.08 2.54 0.09l0.02 0.63c-0.44-0.01-1.43-0.03-2.57-0.09 -0.01 0.9-0.01 1.76 0.01 2.36l-0.63-0.07c-0.02-0.62-0.02-1.46-0.01-2.33 -0.63-0.04-1.29-0.09-1.9-0.16L109.43 251.99z"
          />
          <path
            fill="#FFFFFF"
            d="M108.21 247l6.66-0.19c0.14 0 0.25 0.12 0.25 0.27v1.33c0 0.15-0.1 0.27-0.23 0.27l-0.49 0.02 -5.74 0.06h-0.01l-0.4 0c-0.13 0-0.24-0.12-0.24-0.27l-0.01-1.21C107.98 247.13 108.08 247.01 108.21 247z"
          />
          <path
            fill="#DEEBF9"
            d="M130.37 248.8c0.15-0.01 0.28-0.15 0.28-0.32v-0.98c-0.95 0.23-2.61 0.54-4.81 0.54 -1.9 0-3.05-0.18-3.71-0.35l0.01 0.9c0 0.18 0.13 0.32 0.29 0.32l0.48 0h0.02l6.87-0.07L130.37 248.8z"
          />
          <path
            fill="#DEEBF9"
            d="M114.89 248.68c0.13 0 0.23-0.12 0.23-0.27v-0.88c-0.81 0.14-2.11 0.29-4.01 0.29 -1.45 0-2.45-0.12-3.12-0.25l0.01 0.93c0 0.15 0.11 0.27 0.24 0.27l0.4 0h0.01l5.74-0.06L114.89 248.68z"
          />
        </g>
        <linearGradient
          id="SVGID_3_"
          gradientUnits="userSpaceOnUse"
          x1="260.03"
          y1="253.29"
          x2="284.33"
          y2="253.29"
        >
          <stop offset="0.01" stop-color="#B3B3B2" />
          <stop offset="0.02" stop-color="#BBBBBB" />
          <stop offset="0.08" stop-color="#D4D4D4" />
          <stop offset="0.15" stop-color="#E7E7E7" />
          <stop offset="0.23" stop-color="#F5F5F5" />
          <stop offset="0.33" stop-color="#FDFDFD" />
          <stop offset="0.51" stop-color="#FFFFFF" />
          <stop offset="0.67" stop-color="#FCFCFC" />
          <stop offset="0.77" stop-color="#F4F4F4" />
          <stop offset="0.85" stop-color="#E6E6E6" />
          <stop offset="0.92" stop-color="#D2D2D1" />
          <stop offset="0.99" stop-color="#B8B8B7" />
          <stop offset="1" stop-color="#B3B3B2" />
        </linearGradient>
        <polygon
          fill="url(#SVGID_3_)"
          points="284.33 253.53 260.03 253.53 260.07 253.52 261.61 253.05 282.22 253.05 284.2 253.5 "
        />
        <polygon
          fill="#FFFFFF"
          points="282.89 257.74 260.99 257.74 267.37 210.11 275.55 210.11 "
        />
        <rect x="260.03" y="253.53" fill="#D1D1D1" width="24.3" height="6.5" />
        <linearGradient
          id="SVGID_4_"
          gradientUnits="userSpaceOnUse"
          x1="272.18"
          y1="253.87"
          x2="272.18"
          y2="253.52"
        >
          <stop offset="0.01" stop-color="#B3B3B2" />
          <stop offset="0.21" stop-color="#C4C4C4" />
          <stop offset="0.7" stop-color="#EBEBEB" />
          <stop offset="1" stop-color="#FFFFFF" />
        </linearGradient>
        <polygon
          fill="url(#SVGID_4_)"
          points="284.33 253.53 284.33 253.56 260.03 253.56 260.03 253.53 260.05 253.52 260.07 253.52 284.2 253.5 "
        />
        <path
          fill="#D3764A"
          d="M276.57 215.3c-3.4 0.21-6.82 0.21-10.23 0 0-0.71 0-1.42 0-2.13 3.41 0.21 6.82 0.21 10.23 0C276.57 213.87 276.57 214.58 276.57 215.3z"
        />
        <path
          fill="#D3764A"
          d="M277.63 222.82c-4.21 0.27-8.44 0.27-12.66 0 0-0.97 0-1.94 0-2.91 4.22 0.27 8.44 0.27 12.66 0C277.63 220.88 277.63 221.85 277.63 222.82z"
        />
        <path
          fill="#D3764A"
          d="M279.04 230.94c-4.97 0.31-9.96 0.31-14.94 0 0-1.22 0-2.44 0-3.66 4.97 0.31 9.97 0.31 14.94 0C279.04 228.5 279.04 229.72 279.04 230.94z"
        />
        <path
          fill="#D3764A"
          d="M280.42 240.05c-5.79 0.36-11.6 0.36-17.4 0 0-1.22 0-2.44 0-3.66 5.79 0.37 11.6 0.37 17.4 0C280.42 237.61 280.42 238.83 280.42 240.05z"
        />
        <path
          fill="#D3764A"
          d="M281.74 249.15c-6.61 0.41-13.24 0.41-19.86 0 0-1.36 0-2.72 0-4.08 6.61 0.42 13.25 0.42 19.86 0C281.74 246.43 281.74 247.79 281.74 249.15z"
        />
        <polygon
          fill="#FFFFFF"
          points="267.31 210.21 271.3 203.22 275.61 210.21 "
        />
        <g id="fan">
          <polygon
            fill="#CFCFCF"
            points="257.08 193.48 257.05 193.51 254.75 195.95 270.78 207.61 271.35 207 271.39 206.97 271.96 206.36 259.38 191.04 "
          />
          <polygon
            fill="#EEEEED"
            points="259.38 191.04 258.53 191.94 271.66 206.66 271.97 206.36 "
          />
          <polygon
            fill="#CFCFCF"
            points="285.56 220.33 285.52 220.37 283.23 222.81 270.65 207.49 271.22 206.88 271.26 206.84 271.83 206.23 287.86 217.9 "
          />
          <polygon
            fill="#EEEEED"
            points="287.86 217.9 287.01 218.8 271.55 206.56 271.83 206.22 "
          />
          <polygon
            fill="#CFCFCF"
            points="285.15 193.09 285.11 193.05 282.74 190.69 270.63 206.38 271.22 206.97 271.26 207 271.85 207.6 287.51 195.45 "
          />
          <polygon
            fill="#EEEEED"
            points="287.51 195.45 286.64 194.58 271.56 207.28 271.85 207.61 "
          />
          <polygon
            fill="#CFCFCF"
            points="257.5 220.8 257.47 220.76 255.1 218.4 270.76 206.25 271.35 206.84 271.39 206.88 271.98 207.47 259.87 223.16 "
          />
          <polygon
            fill="#EEEEED"
            points="259.87 223.16 258.99 222.29 271.67 207.18 271.99 207.47 "
          />
        </g>
        <circle fill="#B3B3B2" cx="271.31" cy="206.92" r="1.54" />
        <circle fill="#ECEEEC" cx="271.3" cy="206.92" r="1.19" />
      </svg>
    </div>

    <div class="page-content">
      <h2>Game</h2>

      <div class="p-grid">
        <div class="p-col-fixed">
          <p-card class="card-role" v-if="me.role">
            <template #header><img :src="me.roleInfo.image" /></template>
            <template #title>
              <i :class="me.roleInfo.icon" />
              {{ me.roleInfo.name }}
            </template>
            <template #content>
              <template
                v-for="(row, ind) in me.roleInfo.description"
                :key="ind"
              >
                <h3 v-if="row.tag == 'h'">{{ row.text }}</h3>
                <p v-if="row.tag == 'p'">{{ row.text }}</p>
              </template>
            </template>
            <template #footer>
              <div v-html="me.roleState" />
            </template>
          </p-card>
        </div>
        <div class="p-col">
          <div class="p-grid">
            <div v-for="player in players" :key="player.id" class="p-col-fixed">
              <app-player
                :player="player"
                :viewer="me"
                :turn="turn"
                @toggleTarget="toggleTarget(player.id)"
                class="p-mt-0 p-mb-0 p-message"
                :class="player.rip ? 'p-message-error' : ''"
              ></app-player>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  onUnmounted,
  inject,
  ref,
  Ref,
  reactive,
} from "vue";
import { useRouter } from "vue-router";
import { Socket } from "socket.io-client";
import { $shared } from "@/modules/_base";
import { $auth } from "@/modules/auth";
import { Player } from "@/modules/game";

import AppPlayer from "@/components/AppPlayer.vue";

interface UserGameId {
  game: string;
  user: string;
}

export default defineComponent({
  name: "Game",
  components: { AppPlayer },
  setup() {
    const router = useRouter();
    const socket = inject("socketIOClient") as Socket;
    const user = $auth.currentUser.value;
    let gameId = router.currentRoute.value?.params.id || "last";
    if (gameId === "last") gameId = user.gameId;
    const turn: Ref<'day' | 'night'> = ref("night");
    const players: Ref<Player[]> = ref([]);
    const me = ref(new Player());
    const on: { [key: string]: Function } = {};
    socket.onAny((name, data) => on[name] && on[name](data));

    onMounted(() => {
      socket.emit("startUserGame", {
        user: user.id,
        game: gameId,
      });
    });

    on.playersActive = (data: { player: any; village: any[] }) => {
      me.value.update(data.player);
      players.value = Object.values(data.village).map((row) => new Player(row));
    };

    on.gameStarted = (data?: UserGameId) => {
      if (!data) return;
      if (data.user != user.id) return;
      $auth.save({ gameId: data.game });
    };

    on.gameInvalid = (data: UserGameId) => {
      if (data.user != user.id) return;
      $auth.save({ gameId: "" }).then(() => {
        router.push({ name: "Lobby" });
      });
    };

    on.startTurn = (data: any) => {
      console.log("startTurn", data);
    };

    const toggleTarget = (target: string) => {
      socket.emit("toggleTarget", {
        user: user.id,
        game: gameId,
        target,
      });
    };

    on.toggleTarget = (data: any) => {
      me.value.update(data);
    };

    onUnmounted(() => {
      socket.off();
    });

    const headerButtons = $shared.inject("headerButtons") as Ref<any[]>;

    const readyBtn = reactive({
      id: "some-id",
      ready: false,
      label: "Not Ready",
      icon: "pi pi-thumbs-down",
      class: "p-button-secondary",
      disabled: () => !me.value.isTurnReady(turn.value),
      action: () => {
        if (!readyBtn.ready) {
          readyBtn.ready = true;
          readyBtn.label = "I Am Ready";
          readyBtn.icon = "pi pi-thumbs-up";
          readyBtn.class = "";
          turn.value = 'day';
        } else {
          readyBtn.ready = false;
          readyBtn.label = "Not Ready";
          readyBtn.icon = "pi pi-thumbs-down";
          readyBtn.class = "p-button-secondary";
          turn.value = 'night';
        }
        // socket.emit("turnReady", {
        //   user: user.id,
        //   game: gameId,
        //   ready: readyBtn.ready ? 1 : 0
        // });
      },
    });

    headerButtons.value.push(readyBtn);

    return {
      me,
      players,
      toggleTarget,
      turn,
    };
  },
});
</script>

<style scoped>
#bgd-main {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
}
#bgd-main svg {
  margin: 0;
  height: 195%;
}

#background {
  animation-duration: 4s;
  animation-direction: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  transform-origin: 50.41% 50.3%;
}

#fan {
  animation-name: turn;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50.6676378% 39.9868591%;
}

.window {
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.page {
  transition: background-color 4s;
}
.page h2 {
  text-shadow: 0px 0px 3px #b0eace, 0px 0px 6px #b0eace, 0px 0px 9px #b0eace,
    0px 0px 12px #b0eace, 0px 0px 15px #b0eace;
}

.daytime {
  background-color: #b0eace;
}
.daytime #background {
  animation-name: turn-to-day;
}
.daytime .window {
  animation-name: pulse-to-day;
  fill: #333;
}

.nighttime {
  background-color: #125254;
}
.nighttime #background {
  animation-name: turn-to-night;
  transform: rotate(180deg);
}
.nighttime .window {
  animation-name: pulse-to-night;
  fill: #f3d681;
}
</style>
<style>
@keyframes pulse-to-day {
  0% {
    fill: #f3d681;
  }
  30% {
    fill: #f3d681;
  }
  31% {
    fill: #333;
  }
  100% {
    fill: #333;
  }
}

@keyframes pulse-to-night {
  0% {
    fill: #333;
  }
  30% {
    fill: #333;
  }
  31% {
    fill: #f3d681;
  }
  100% {
    fill: #f3d681;
  }
}

@keyframes turn {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes turn-to-day {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes turn-to-night {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
</style>
