<template>
  <div id="lobby-page" class="page-content">
    <h2>Lobby</h2>

    <div class="p-grid p-mb-2">
      <div v-for="player in players" :key="player.id" class="p-col-fixed">
        <app-player
          :player="player"
          class="p-mt-0 p-mb-0 p-message"
          :class="player.ready ? 'p-message-success' : 'p-message-warn'"
        ></app-player>
      </div>
    </div>
    <h3>ToDo: pick a room and maybe some rules</h3>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  onUnmounted,
  inject,
  ref,
  Ref,
  reactive,
} from "vue";
import { useRouter } from "vue-router";
import { $shared } from "@/modules/_base";
import { $auth } from "@/modules/auth";
import { Player } from "@/modules/game";
import { Socket } from "socket.io-client";

import AppPlayer from "@/components/AppPlayer.vue";

export default defineComponent({
  name: "Lobby",
  components: { AppPlayer },
  setup() {
    const players: Ref<Player[]> = ref([]);
    const socket = inject("socketIOClient") as Socket;
    const user = $auth.currentUser.value;
    const router = useRouter();
    const on: { [key: string]: Function } = {};
    socket.onAny((name, data) => on[name] && on[name](data));

    onMounted(() => {
      socket.emit("welcome", user.toJson());
      socket.emit("listLobbyPlayers");
    });

    on.playersLobby = (data: { [key: string]: any }) => {
      players.value = Object.values(data).map((row) => new Player(row));
    };

    const headerButtons = $shared.inject("headerButtons") as Ref<any[]>;

    const readyBtn = reactive({
      id: "some-id",
      ready: false,
      label: "Not Ready",
      icon: "pi pi-thumbs-down",
      class: "p-button-secondary",
      disabled: () => false,
      action: () => {
        if (!readyBtn.ready) {
          readyBtn.ready = true;
          readyBtn.label = "I Am Ready";
          readyBtn.icon = "pi pi-thumbs-up";
          readyBtn.class = "";
        } else {
          readyBtn.ready = false;
          readyBtn.label = "Not Ready";
          readyBtn.icon = "pi pi-thumbs-down";
          readyBtn.class = "p-button-secondary";
        }
        socket.emit("playerReady", {
          user: user.id,
          ready: readyBtn.ready ? 1 : 0
        });
      },
    });

    headerButtons.value.push(readyBtn);

    const timerBtn = reactive({
      id: "timer-id",
      label: "",
      icon: "pi pi-clock",
      class: "p-button-text",
      disabled: () => false,
    });
    let timerIterval: number;

    on.gameAbort = () => {
      if (timerBtn.label) {
        timerBtn.label = '';
        clearInterval(timerIterval);
        headerButtons.value.shift();
      }
    };

    on.gameReady = (gameId: string) => {
      const tpl = `Game starts in $seconds`;
      let time = 2;

      timerIterval = setInterval(() => {
        timerBtn.label = tpl.replace("$seconds", (--time).toString());
        if (!time) {
          clearInterval(timerIterval);
          router.push({ name: 'Game', params: { id: gameId } });
        }
      }, 1000);

      timerBtn.label = tpl.replace("$seconds", time.toString());
      headerButtons.value.unshift(timerBtn);
    };


    onUnmounted(() => {
      socket.off();
      headerButtons.value = [];
    });

    return { players };
  },
});
</script>
