<template>
  <div id="photo-page" class="page-content">
    <h2>Photo Boot</h2>

    <p-card>
      <template #header>
        <div class="p-ripple" v-ripple @click="initVideo">
          <img v-if="user.image" :src="user.image" />
          <canvas ref="canvasRef"></canvas>
          <a><i class="pi pi-caret-right"></i></a>
          <video ref="videoRef"></video>
        </div>
      </template>

      <template #title>
        <template v-if="editUserName == false">
          <span>{{ user.name }}</span>
          <p-button
            icon="pi pi-pencil"
            class="p-button-rounded p-button-text"
            @click="editUserName = !editUserName"
          />
        </template>
        <template v-else>
          <p-input-text type="text" v-model="userName" placeholder="Nickname" />
        </template>
      </template>

      <template #footer>
        <p-button
          icon="pi pi-trash"
          class="p-button-rounded p-button-danger"
          @click="clearSnapshot"
        />
        <p-button
          icon="pi pi-save"
          class="p-button-rounded p-button-secondary"
          @click="saveUser"
        />
      </template>
    </p-card>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref, Ref } from "vue";
import { useRouter } from "vue-router";
import { $auth } from "@/modules/auth";
import Ripple from "primevue/ripple";

export default defineComponent({
  name: "PhotoBoot",
  directives: {
    ripple: Ripple,
  },
  setup() {
    const videoRef: Ref<HTMLVideoElement | null> = ref(null);
    const canvasRef: Ref<HTMLCanvasElement | null> = ref(null);
    const user = $auth.currentUser.value;
    const userName: Ref<string> = ref(user.name);
    const editUserName: Ref<boolean> = ref(!user.name);
    const router = useRouter();
    let mediaStreamRef: MediaStream;

    onMounted(() => {
      if (!canvasRef.value) return;
      const context = canvasRef.value.getContext("2d");
      if (!context) return;
      const image = new Image();
      image.onload = function () {
        if (!canvasRef.value) return;
        context.drawImage(image, 0, 0, 300, 225);
      };

      image.setAttribute("src", user.image);
    });

    const takeSnapshot = function () {
      if (!videoRef.value) return;
      if (!canvasRef.value) return;
      const context = canvasRef.value.getContext("2d");
      if (!context) return;

      const width = 300;
      const height = 225;

      if (width && height) {
        canvasRef.value.width = width;
        canvasRef.value.height = height;
        context.drawImage(videoRef.value, 0, 0, width, height);
        user.image = canvasRef.value.toDataURL("image/png");
        if (mediaStreamRef) {
          mediaStreamRef.getTracks().forEach(function (track) {
            if (track.readyState == "live") track.stop();
          });
          videoRef.value.srcObject = null;
        }
      }
    };

    const clearSnapshot = function () {
      user.image = "";
      if (!canvasRef.value) return;
      const context = canvasRef.value.getContext("2d");
      if (!context) return;
      context.clearRect(0, 0, canvasRef.value.width, canvasRef.value.height);
    };

    const initVideo = function () {
      console.log('initVideo');
      if (!navigator.mediaDevices) {
        console.error("getUserMedia not supported");
        return false;
      }

      navigator.mediaDevices
        .getUserMedia({
          audio: false,
          video: { width: 300, height: 225 },
        })
        .then((stream) => {
          if (!videoRef.value) return;
          mediaStreamRef = stream;
          videoRef.value.srcObject = stream;
          videoRef.value.onloadedmetadata = () => {
            if (!videoRef.value) return;
            videoRef.value.play();
          };
        })
        .catch((err) => {
          console.error("The following error occurred: ", err);
        });

      return false;
    };

    const saveUser = function () {
      editUserName.value = false;
      takeSnapshot();
      $auth
        .signIn(
          user.update({
            name: userName.value,
          })
        )
        .then(() => {
          router.push({ name: "Lobby" });
        });
    };

    return {
      user,
      userName,
      editUserName,
      videoRef,
      canvasRef,
      initVideo,
      clearSnapshot,
      saveUser,
    };
  },
});
</script>
<style>
#photo-page .p-card {
  width: 300px;
}
#photo-page .p-card-header {
  position: relative;
}
#photo-page .p-card-header a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-shadow: 0px 0px 3px #fff;
}
#photo-page .p-card-header i {
  font-size: 4rem;
}
#photo-page img,
#photo-page canvas {
  display: block;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#photo-page video {
  width: 300px;
  height: 225px;
  cursor: pointer;
  position: relative;
}
#photo-page canvas {
  visibility: hidden;
}
#photo-page .p-card-title,
#photo-page .p-card-footer {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
#photo-page .p-card-title span {
  border-bottom: solid 1px #ccc;
}
#photo-page .p-card-title .p-inputtext {
  width: 100%;
}
#photo-page .p-card-body {
  padding-top: 0;
}
#photo-page .p-card-content {
  display: none;
}
</style>
