<template>
  <p-menubar
    :model="userMenu"
    id="main-menu"
    class="p-shadow-3"
  >
    <template #end>
      <p-button v-for="btn in headerButtons"
        :key="btn.id"
        :label="btn.label"
        :icon="btn.icon"
        :class="btn.class"
        :disabled="btn.disabled()"
        @click.prevent="btn.action"
      />
    </template>
  </p-menubar>
</template>

<style>
header.p-d-flex {
  position: relative;
}
header.p-d-flex h1 {
  cursor: pointer;
}
#main-menu {
  position: sticky;
  top: -1px;
  z-index: 100;
}
#main-menu .p-menuitem-link {
  align-items: baseline;
}
#main-menu .active {
  background-color: var(--surface-d);
}
</style>

<script lang="ts">
import { defineComponent, watch, ref } from "vue";
import { useRouter } from "vue-router";
import Ripple from "primevue/ripple";
import { $auth } from "@/modules/auth";
import { $shared } from "@/modules/_base";

export default defineComponent({
  name: "AppHeader",
  directives: {
    ripple: Ripple,
  },
  setup() {
    const headerButtons = ref([]);
    $shared.provide('headerButtons', headerButtons);
    const router = useRouter();

    watch(router.currentRoute, (to) => {
      const mainMenu: HTMLElement | null = document.getElementById("main-menu");
      if (!mainMenu) return;
      const activeClass = "active";
      const prev: HTMLElement | null = mainMenu.querySelector(
        `.${activeClass}`
      );
      if (prev) prev.classList.remove(activeClass);
      const next: HTMLElement | null = mainMenu.querySelector(
        `.${to.meta.css}`
      );
      if (next) next.classList.add(activeClass);
    });

    const userMenu = [
      {
        label: "Photo",
        icon: "pi pi-camera",
        to: { name: "PhotoBoot"},
        class: "page-photo",
      },
      {
        label: "Lobby",
        icon: "pi pi-comments",
        to: { name: "Lobby" },
        class: "page-lobby",
      },
      {
        label: "Game",
        icon: "pi pi-caret-right",
        to: { name: "Game", params: { id: 'last' } },
        class: "page-game",
      },
      {
        label: "Log Out",
        icon: "pi pi-sign-out",
        command: () => {
          $auth.signOut();
          router.push({ name: 'PhotoBoot' });
        }
      },
    ];

    return {
      userMenu,
      headerButtons,
    };
  },
});
</script>
