<template>
  <p-card class="card-player">
    <template #header>
      <img :src="player.image" />
      <div
        v-if="viewer && isTargeted"
        class="target-wrapper"
        v-html="viewer.getTargetIcon(turn)"
      />
    </template>

    <template #title>
      {{ player.name }}
    </template>

    <template #subtitle v-if="viewer">
      <p v-for="(comment, ind) of viewer.getComments(player)" :key="ind">
        {{ comment }}
      </p>
    </template>

    <template #footer v-if="viewer && viewer.getActions(turn).length">
      <p-button
        v-for="(action, ind) of viewer.getActions(turn)"
        :key="ind"
        :label="action.label(player.id)"
        :icon="action.icon(player.id)"
        :disabled="action.disabled(viewer, player)"
        class="p-my-1 p-mr-2"
        :class="action.class(player.id)"
        @click="emitCommand(action.command())"
      ></p-button>
    </template>
  </p-card>
</template>

<script lang="ts">
import { defineComponent, PropType, computed } from "vue";
import { Player } from "@/modules/game";

export default defineComponent({
  name: "AppPlayer",
  props: {
    player: {
      type: Object as PropType<Player>,
      required: true,
    },
    viewer: {
      type: Object as PropType<Player>,
    },
    turn: {
      type: String as PropType<"day" | "night">,
    },
  },
  emits: ["toggleTarget"],
  setup(props, context) {
    const isTargeted = computed(() => {
      if (!props.turn) return;
      if (!props.viewer) return;
      const targets = Object.values(props.viewer.getTargets(props.turn));
      return targets.indexOf(props.player.id) != -1;
    });

    const emitCommand = (command: "toggleTarget") => {
      context.emit(command);
    };

    return { isTargeted, emitCommand };
  },
});
</script>

<style>
.card-player.p-card .p-card-content {
  padding: 0;
}
.card-player.p-card,
.card-role.p-card {
  width: 300px;
}

.card-player .p-card-content {
  display: none;
}
.card-role .p-card-content {
  margin: 0;
  padding: 0;
}
.card-player h3,
.card-role h3 {
  margin-bottom: 0.25rem;
}
.card-player p,
.card-role p {
  margin: 0.25rem 0;
}
.card-player .p-card-header {
  position: relative;
}
.card-player .target-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-shadow: 0px 0px 3px #fff, 0px 0px 6px #fff, 0px 0px 9px #fff,
    0px 0px 12px #fff, 0px 0px 15px #fff;
}
.card-player .target-wrapper i {
  font-size: 5rem;
}
</style>
