<template>
  <app-header />

  <div class="router-wrapper">
    <router-view class="router-view" v-slot="{ Component }">
      <transition name="zoom">
        <component :is="Component" />
      </transition>
    </router-view>
  </div>
  <p-confirm-popup/>
</template>

<style>
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,500;1,300&display=swap");
html {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--surface-d);
  color: var(--text-color);
  font-family: "Exo 2", sans-serif;
  margin: 0;
  padding: 0;
}

html .p-component {
  font-family: inherit;
}

.router-wrapper {
  position: relative;
}

.router-view {
  position: relative;
  border-top: solid 1px transparent;
  height: calc(100vh - 59px);
  overflow: hidden;
}
.page-content {
  position: relative;
  z-index: 3;
  height: calc(100vh - 59px);
  padding: 1rem;
  overflow: auto;
}

.zoom-enter-active,
.zoom-leave-active {
  animation-duration: 0.15s;
  animation-fill-mode: both;
  animation-name: zoom;
  transform-origin: 50% 0;
}

.zoom-leave-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation-direction: reverse;
}

.p-column-filter {
  width: 100%;
}
html .p-menubar,
html .p-card,
html .p-button.p-button-outlined {
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(5px);
}


@keyframes zoom {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
</style>

<script lang="ts">
// import { inject } from "vue";
// import { Socket } from "socket.io-client";
import AppHeader from "@/components/AppHeader.vue";

export default {
  name: "App",
  components: { AppHeader },
  // setup() {
  //   const socket = inject("socketIOClient") as Socket;
  //   socket.onAny((name, ...args) => {
  //     console.log('socket.onAny', { name, args });
  //   })
  // }
};
</script>

